@import "src/assets/styles/templates";

.mainPage {
  // @extend %uiContainer;
  @extend %mainFont;

  padding: globalPadding(.75) 0 0 0;
  font-size: 20px; // 1em = 20px

  &.rowView {
    display: flex;
    flex-direction: column;
    gap: globalPadding(.5);

    @media (max-width: 943px) {
      font-size: 16px;
    }

    @media (max-width: 753px) {
      font-size: 15px;
    }

    @media (max-width: 618px) {
      // font-size: 14px;
    }
  }

  &.gridView {
    --column-count: 5;

    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
    gap: globalPadding(.5);

    @media (max-width: 1000px) {
      --column-count: 4;
    }

    @media (max-width: 720px) {
      --column-count: 3;
    }

    @media (max-width: 568px) {
      --column-count: 2;
    }

    @media (max-width: 411px) {
      font-size: 16px;
    }

    @media (max-width: 316px) {
      --column-count: 1;
    }

    nav.pagination {
      grid-column: span var(--column-count);
    }
  }

  nav.pagination {
    @extend %flexCenter;
    @extend %notSelectable;

    margin-top: globalPadding(1);
    width: 100%;
    height: 3.45em;
    font-size: 1em;
    background: var(--app-back-primary);
    color: var(--pagination-font-secondary);
    position: sticky;
    bottom: 0;
    left: 0;
    gap: 1em;
    align-items: center;

    .controlGroup {
      @extend %flexCenter;

      gap: .6em;

      svg.control {
        height: .8em;
        cursor: pointer;
        // rotate: -.5turn;

        path {
          fill: var(--pagination-font-secondary);
        }

        &.disabled {
          opacity: 0;
          pointer-events: none;
          transition: .15s ease;

          path {
            // fill: var(--ui-border-disabled);
          }
        }

        &.reverse {
          rotate: -.5turn !important;
        }
      }
    }

    .numericLinks {
      @extend %flexCenter;

      border-radius: var(--ui-border-radius);

      .link {
        @extend %flexCenter;

        color: inherit;
        cursor: pointer;
        aspect-ratio: 1;
        line-height: 1em;
        height: 1.5em;

        $duration: .15s ease;
        transition: color $duration,
                    background-color $duration;

        &:hover {
          color: var(--pagination-font);
        }

        &.active {
          background: var(--ui-border);
          color: var(--ui-icon);
          border: none;
          border-radius: var(--ui-border-radius);
        }

        &.hidden {
          display: none;
        }
      }
    }
  }
}