@import "src/assets/styles/templates";

.card {
  font-size: 1em; // 1em = 20px
  display: flex;
  gap: 1em;

  &.rowView {
    --avatar-width: 6em;

    width: 100%;
    display: grid;
    grid-template-columns: var(--avatar-width) 1fr;

    @media (max-width: 1062px) {
      --avatar-width: 4.5em;
    }

    @media (max-width: 618px) {
        --avatar-width: 4em;
    }

    .avatarBox {
      @extend %flexCenter;
      @extend %notSelectable;

      // width: 6em;
      aspect-ratio: 1;
      position: relative;

      img {
        width: 100%;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      gap: .9em;

      @media (max-width: 753px) {
          gap: .5em;
      }

      .title {
        display: flex;
        gap: .5em;

        h3 {
          @extend %bold;
          font-size: 1.25em;
          color: var(--app-font-primary);
        }
      }

      i.desc {
        color: var(--app-font-secondary);
        font-size: 1em;
      }
    }
  }
}