@import "src/assets/styles/templates";

.achievementPage {
  @extend %uiContainer;
  @extend %mainFont;

  font-size: 20px; // 1em = 20px
  padding: globalPadding(.75) 0 globalPadding(1) 0;

  .titleBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    gap: 1.25em;

    .avatarPlaceholder {
      @extend %notSelectable;

      width: 10em;
      aspect-ratio: 1;
      position: relative;

      img {}
    }

    h2 {
      @extend %bold;

      font-size: 1.25em;
    }

    i {
      font-size: 1em;
      color: var(--app-font-secondary);
    }
  }
}