@import "src/assets/styles/templates";

.titleBlock {
  @extend %mainFont;

  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  font-size: 1em;
  gap: 1.25em;

  padding-bottom: .5em;
  position: fixed;
  top: var(--header-height);
  z-index: 20000;
  width: 100%;
  background: var(--app-back-primary);

  @media (max-width: 750px) {
    font-size: .9em;
  }

  @media (max-width: 622px) {
    font-size: .8em;
  }

  @media (max-width: 590px) {
    font-size: .7em;
  }

  @media (max-width: 534px) {
    font-size: .75em;
  }

  @media (max-width: 466px) {
    font-size: .6em;
  }

  .container {
    @extend %uiContainer;
    @extend %flexCenter;

    justify-content: space-between;
    gap: globalPadding(.5);

    .block {
      display: flex;
      gap: .5em;

      .avatarPlaceholder {
        @extend %notSelectable;

        // TEMP
        // display: none;

        // width: 10em;
        height: globalPadding(1.75);
        aspect-ratio: 1;
        position: relative;

        @media (max-width: 750px) {
          height: globalPadding(1.5);
        }

        @media (max-width: 590px) {
          height: globalPadding(1);
        }

        @media (max-width: 534px) {
          height: globalPadding(1.75);
        }

        @media (max-width: 412px) {
          height: globalPadding(1.5);
        }

        img {}
      }

      .text {
        h2 {
          @extend %bold;

          font-size: 1em;
        }

        i {
          font-size: .8em;
          color: var(--app-font-secondary);
          text-align: center;
        }
      }
    }
  }
}

.achievementPage {
  @extend %uiContainer;
  @extend %mainFont;

  font-size: 20px; // 1em = 20px
  // padding: globalPadding(.75) 0 globalPadding(2.5) 0;

  @media (max-width: 1146px) {
    font-size: 18px;
  }

  @media (max-width: 850px) {
    font-size: 16px;
  }

  @media (max-width: 612px) {
    .instructions {
      .imagePlaceholder, p {
        grid-column: span 2 !important;
      }

      .imagePlaceholder img {
        max-width: 100% !important;
      }
    }
  }

  margin-top: calc(var(--header-height) * 2);

  padding-top: .5em;
  // padding-bottom: globalPadding(2.5);

  h3 {
    @extend %mainFont;
    @extend %bold;

    font-size: 2em;
    text-align: center;
    margin:
            calc(1.25em * 1.5)
            0
            1em
            0;
  }

  .instructions {
    // margin-top: calc(1.25em * 2);
    font-size: 1em;
    gap: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      width: 100%;
      font-size: 1em;
      color: var(--app-font-primary);
    }

    &:has(> .imagePlaceholder) {
      // background: red;
      display: grid;
      grid-template-columns: 1fr 3fr;

      .imagePlaceholder {
        // grid-column-start: 1;
        // grid-column-end: 2;
        grid-column: span 1;
        align-items: start;
      }

      p {
        // grid-column-start: 2;
        // grid-column-end: 3;
        grid-column: span 1;
        // height: 100%;
      }
    }

    .imagePlaceholder {
      @extend %flexCenter;

      width: 100%;

      img {
        max-width: min(calc((100vw - var(--global-padding) * 2 - 1.25em) / 2), 100%);
        border-radius: .5em;
      }
    }
  }

  .nextUpLinks {
    @extend %flexCenter;

    width: 100%;
    justify-content: space-between;
    gap: 1em;
    font-size: 1em; // 1em = 20px
    margin-top: 3em;
    margin-bottom: 3em;


    .link {
      @extend %notSelectable;
      color: var(--app-link);

      $toMediumBreakpoint: 775px;

      span.title {
        @media (max-width: $toMediumBreakpoint) {
          display: none;
        }
      }

      span.locale {
        display: none;

        @media (max-width: $toMediumBreakpoint) {
          display: unset;
        }
      }

      &.disabled {
        opacity: 0;
        pointer-events: none;
      }

      svg {
        width: .5em;
      }

      &:last-of-type {
        flex-direction: row-reverse;

        svg {
          rotate: .5turn;
        }
      }
    }
  }
}