@import "src/assets/styles/templates";

.button {
  @extend %flexCenter;
  @extend %notSelectable;

  background: var(--button-back);
  border-radius: var(--ui-border-radius);
  cursor: pointer;
  font-size: 1em;
  color: var(--button-font);

  transition: .08s ease background-color,
              .08s ease color;

  &.active {
    background: var(--ui-border);
    color: var(--ui-icon);
  }

  &:hover {
    svg {
      path {
        fill: var(--button-font);
      }
    }
  }

  svg {
    width: 50%;

    path {
      fill: var(--button-font-inactive);
      transition: .15s ease;
    }
  }
}