@import "src/assets/styles/templates";

header.appHeader {
  @extend %uiContainer;
  @extend %mainFont;

  height: var(--header-height);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  font-size: 20px;
  position: sticky;
  top: 0;
  background: var(--app-back-primary);
  z-index: 10000;

  &:before, &:after {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    width: globalPadding(1);
    background-color: inherit;
    pointer-events: none;
  }

  &:before {
    right: 100%;
  }

  &:after {
    left: 100%;
  }

  @media (max-width: 534px) {
    font-size: 16px;
  }

  &:not(:has(> section.taskBar)) {
    height: calc(var(--header-height) / 2);
    grid-template-rows: 1fr;
  }

  section {
    padding: globalPadding(.25) 0;
  }

  section.main {
    @extend %flexCenter;

    justify-content: space-between;

    @media (max-width: 534px) {
      height: globalPadding(1.6);
      align-items: center;
      margin-top: globalPadding(.25);
      padding: 0;
    }

    .logotype {
      @extend %flexCenter;

      height: 100%;
      column-gap: .5em;

      img.logo {
        height: 50%;
      }

      svg.label {
        height: 35%;

        path {
          fill: var(--app-font-primary);
        }
      }
    }

    .settingsButton {
      @media (max-width: 534px) {
        height: globalPadding(1.6) !important;
      }
    }
  }

  section.taskBar {
    @extend %flexCenter;
    @extend %notSelectable;

    justify-content: space-between;
    width: 100%;
    font-size: 1em; // 1em = 20px
    container-type: inline-size;
    gap: globalPadding(.5);
    background: var(--app-back-primary);
    z-index: 10000;

    @media (max-width: 883px) {
      .progressBar {
        display: none;
      }
    }

    .progressBar {
      // width: min(9.3em, 25%);
      width: 9.3em;
      height: .75em;
      background: var(--button-back);
      border-radius: 5em;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: var(--percent);
        background: var(--app-progress-bar);
        height: 100%;
        border-radius: inherit;

        transition: .5s width;
      }
    }

    .rightControls {
      display: flex;
      justify-content: end;
      column-gap: globalPadding(.5);
      height: 100%;
      width: 100%;
      position: relative;

      label.inputPlaceholder {
        position: relative;
        height: 100% !important;
        width: min(50%, 14.6em);
        padding-left: .5em;
        display: flex;
        align-items: center;
        gap: .5em;
        background: var(--button-back);
        border-radius: var(--ui-border-radius);

        @media (max-width: 695px) {
          display: grid;
          grid-template-columns: 1em 1fr;
        }

        svg {
          width: 1em;
        }

        input.searchBar {
          @extend %mainFont;

          height: 100%;
          font-size: 1em; // 1em = 20px
          background: none;
          outline: 0;
          border: 0;
          color: var(--button-font);

          &::-webkit-input-placeholder {
            color: var(--button-font-inactive);
          }
        }
      }

      &.optionsShown {
        .optionsButton {
          border-radius: var(--ui-border-radius) var(--ui-border-radius) 0 0;
        }
      }

      .optionsButton {
        height: 100% !important;
      }

      .settingsPopup {
        @extend %mainFont;
        @extend %scrollable;

        $topPadding: globalPadding(.25);
        $headerHeight: globalPadding(4);

        position: absolute;
        content: "";
        width: min(25em, 100%);
        top: calc(100% + $topPadding);
        // max-height: min(50vh, 21.05em);
        height: min(calc(100vh - $headerHeight), 21.05em);
        right: 0;
        z-index: 10000;
        background: var(--button-back);
        color: var(--button-font);
        padding: globalPadding(.25);
        font-size: 1em;
        border-radius:
                var(--ui-border-radius) var(--ui-border-radius)
                var(--ui-border-radius) var(--ui-border-radius);
        display: flex;
        flex-direction: column;
        gap: .5em;

        .item {
          @extend %flexCenter;

          min-height: 3em;
          gap: 1em;
          align-items: center;
          justify-content: space-between;
          font-size: 1em;

          // Disabled
          &.disabled {
            opacity: .5;
            pointer-events: none;
          }

          // With label
          &:has(> label.itemLabel) {
            @extend %flexCenter;

            gap: 1em;
            justify-content: space-between;

            .select {
              font-size: .85em;
              width: 100%;
            }

            .gridViewSelector {
              height: 3em;
              padding: .2em;
              background: var(--ui-border-disabled);
              border-radius: var(--ui-border-radius);
              display: flex;
              gap: .2em;

              .selector {
                @extend %flexCenter;
                @extend %notSelectable;

                height: 100%;
                aspect-ratio: 1;
                border-radius: inherit;
                cursor: pointer;

                svg {
                  width: 54%;

                  path {
                    fill: var(--button-back);
                  }
                }

                &.active {
                  background: var(--button-back);

                  svg {
                    path {
                      fill: var(--button-font-inactive);
                    }
                  }
                }
              }
            }
          }

          label.itemLabel {
            font-size: 1em;
            min-width: 5em;
          }
        }

        // Shadow
        &:before {
          pointer-events: none;
          position: absolute;
          width: 100%;
          height: 100%;
          content: "";
          top: 0;
          left: 0;
          border-radius: inherit;
          box-shadow: 0 0 5px var(--button-font);
          // opacity: .18;
          opacity: 0;
          z-index: -5;
        }
      }
    }
  }
}