.sizes {
  --ui-container-max-width: 1280px;
  --global-padding: 40px;

  // Header sizes
  --header-main-height: 80px;
  --header-task-bar-height: 80px;

  // UI Sizes
  --ui-border-radius: 7px;

  $mobileBreakpoint: 753px;

  @media (max-width: 753px) {
      // --global-padding: 30px;
  }
}