@import "src/assets/styles/templates";

.filterGroup {
  @extend %mainFont;

  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  font-size: 1em; // 1em = 20px
  align-items: center;
  height: 100%;

  @media (max-width: 753px) {
    display: none;
  }

  .filter {
    @extend %medium;
    @extend %notSelectable;
    @extend %flexCenter;

    background: var(--filter-back);
    color: var(--filter-font);
    font-size: .75em; // 1em = 15px
    padding: .2em 1em;
    border-radius: 10em;
    border: 1px solid var(--filter-font);
    height: 1.6em;
  }
}